/*#show-place {
  display: none;
}*/

li {
  list-style: none;
}

.registeredLocation {
  cursor: pointer;
  color: #0088cc;
}

.registeredLocation:hover {
  text-decoration: underline;
}

input {
  width: 100%;
}

#visited-placed-div {
  height: 100px;
  background-color: #EEE;
  overflow: auto;
  color: black;
}
